.nav {
  &_toggle {
    > button {
      cursor: pointer;
    }
    position: relative;
    margin: 0 1.6em 0 auto;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background: var(--text-light);
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 0.5s ease;
    &::before {
      content: '';
      z-index: 1;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 50%;
      background: #a5abb0;
      transition: border-radius 0.5s ease, background-color 0.5s ease, width 0.5s ease,
        transform 0.5s ease;
    }
    &::after {
      content: '';
      line-height: 45px;
      z-index: 2;
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 2px solid var(--text-light);
      box-shadow: 0 0 0 0 var(--main-bg-light), 0 0 0 3px #a5abb0, 0 0 0 4rem var(--main-bg-light);
      box-sizing: border-box;
      transition: border-color 0.5s ease, box-shadow 0.5s ease;
    }
    &.dark {
      &::before {
        background: #3f3f4c;
        border-radius: 50%;
        width: 150%;
        transform: translate(-5%, -35%) rotate(-25deg);
      }
      &::after {
        content: '';
        box-shadow: 0 0 0 0 var(--main-bg-dark), 0 0 0 0 var(--main-bg-dark), 0 0 0 3px #a5abb0,
          0 0 0 4rem var(--main-bg-dark);
        border-color: #3f3f4c;
      }
    }
  }
}
