.feed {
  margin: 0 0 4rem;
  &_flex {
    display: block;
    margin: 0 0 2rem;
    @include md {
      margin: 0 0 2rem;
      > article {
        display: flex;
      }
    }
    &:hover .feed_content_heading {
      color: var(--accent-color);
      text-decoration: underline;
    }
  }
  &_thumb {
    display: none;
    @include md {
      display: block;
      min-width: 16.6rem;
      max-width: 16.6rem;
      height: 10.5rem;
      border: 1px solid var(--main-whitish);
      box-sizing: border-box;
      overflow: hidden;
    }
    > img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &_content {
    margin: 0;
    @include md {
      margin: 0 0 0 1.3rem;
    }
    &_heading {
      color: var(--main-darker);
      margin: 0;
      font-size: 1.3rem;
    }
    &_description {
      color: var(--main-dark);
      font-size: 1rem;
      margin: 0.2rem 0;
    }
    &_bottom {
      margin-top: 0.4rem;
      font-size: 0.8rem;
      color: var(--accent-color);
    }
  }
}
