.feed {
  // margin: 2rem 0;
  max-width: 660px;
  &_article {
    padding: 2rem 0;
    &_heading {
      margin: 0;
      font-size: var(--font-heading);
      a {
        display: block;
        color: inherit;
        transition: 0.2s ease;
        will-change: opacity;
        &:hover {
          opacity: 0.7;
        }
      }
    }
    &_description {
      margin: 1.2rem 0;
      font-size: var(--font-normal);
    }
    &_detail {
      margin: 0 0 0.6rem;
      display: flex;
      align-items: center;
      > b {
        margin: 0 0.6rem;
        color: var(--text-secondary);
        opacity: 0.5;
      }
      > time {
        font-size: var(--font-normal);
      }
      > span > a {
        font-weight: 400;
        color: var(--accent-color);
        transition: 0.2s ease;
        will-change: opacity;
        &:hover {
          opacity: 0.7;
        }
      }
    }
    &_bottom {
      a {
        font-size: var(--font-label);
        font-weight: 400;
        color: inherit;
        opacity: 0.6;
        transition: 0.2s ease;
        will-change: opacity;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
