.footer {
  margin: 6.2rem 0 0;
  &_contact {
    margin: 0 0 3.8rem;
    &_link {
      > a {
        display: inline-flex;
        padding: 0.2rem;
        font-size: 1.5rem;
        margin-right: 0.5rem;
        color: var(--main-gray-light);
        &:hover {
          color: var(--accent-color);
        }
        > svg {
          margin: auto;
        }
      }
    }
  }
  &_copy {
    border-top: 1px solid var(--main-whitish);
    padding: 1.8rem 0;
    font-size: 1rem;
    color: var(--main-gray);
  }
}
