.nav {
  display: flex;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 4.2rem;
  &_link {
    display: flex;
    margin: 0;
    padding: 0;
    > a {
      display: inline-block;
      margin: 0 0.6rem 0 0;
      padding: 0.1rem 0.5rem;
      font-size: var(--font-label);
      color: var(--text-secondary);
      font-weight: 400;
      transition: 0.2s color ease;
      &.active,
      &:hover {
        color: var(--accent-color) !important;
      }
    }
  }
}

.dark-mode {
  .nav {
    &_link {
      > a {
        color: var(--text-secondary-dark);
      }
    }
  }
}
