:root {
  --main-bg-light: #fefefe;
  --main-bg-dark: #121c25;
  --text-light: #ffffff;
  --text-dark: #333333;

  --text-secondary: #727272;
  --text-secondary-dark: #dadada;
  --accent-color: #0ed197;

  --font-block: 1.9rem;
  --font-heading: 1.7rem;
  --font-normal: 1.2rem;
  --font-label: 1.1rem;
  --font-label-small: 0.9rem;
}
