.dark-mode {
  background-color: var(--main-bg-dark);
  color: var(--text-light);
}

.light-mode {
  background-color: var(--main-bg-light);
  color: var(--text-dark);
}

body {
  transition: 0.3s background-color ease;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--main-bg-dark);
    color: var(--text-light);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--main-bg-light);
    color: var(--text-dark);
  }
}
