.nav {
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  &_logo {
    display: inline-flex;
    > svg {
      margin: auto;
    }
    &:hover {
      opacity: 0.8;
    }
  }
  &_button {
    display: none;
    padding: 0;
    background-color: transparent;
    border: 0;
    outline: none;
    > svg {
      margin: auto;
    }
    @media (max-width: 1180px) {
      display: inline-flex;
    }
  }
  &_toggle {
    display: none;
    z-index: -2;
    &:checked {
      + nav {
        display: flex;
      }
    }
  }
  &_links {
    > a {
      display: inline-block;
      padding: 0.2rem;
      color: white;
      margin-left: 2.5rem;
      &:hover {
        opacity: 0.8;
      }
    }
    @media (max-width: 1180px) {
      position: absolute;
      width: 100%;
      background-color: black;
      display: flex;
      flex-direction: column;
      top: 100%;
      left: 0;
      z-index: 9;
      box-sizing: border-box;
      padding: 1rem 0;
      display: none;
      > a {
        margin-left: 0;
        padding: 0.9rem 1rem;
      }
    }
  }
  &_inner {
    padding: 0.88rem 1rem;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    @media (min-width: 600px) {
      max-width: 540px;
    }
    @media (min-width: 900px) {
      max-width: 720px;
    }
    @media (min-width: 1200px) {
      max-width: 1086px;
    }
    @media (min-width: 1440px) {
      max-width: 1200px;
    }
  }
}
